@import '@/styles/variables.scss';

.feature {
	position: relative;
	width: 100%;
	max-width: 700px;
	min-height: 251px;

	padding: 0px 24px;
}

.feature .bg {
	position: absolute;
	left: 0px;
	top: 67px;
	width: 100%;
	height: calc(100% - 67px - 16px);

	background: url('../../../../public/images/gpuWork/centerTopBg.png');
	background-size: 100% 100%;
}

.feature .bg::before {
	position: absolute;
	content: '';
	left: 0px;
	top: -67px;
	width: 100%;
	height: 67px;

	background: url('../../../../public/images/gpuWork/topTopBg.png');
	background-size: 100% 100%;
}

.feature .bg::after {
	position: absolute;
	content: '';
	left: 0px;
	bottom: -16px;
	width: 100%;
	height: 16px;

	background: url('../../../../public/images/gpuWork/bottomTopBg.png');
	background-size: 100% 100%;
}

.feature .title {
	position: relative;
	width: 100%;
	height: 67px;

	display: flex;
	align-items: center;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.feature .proceses {
	position: relative;
	width: 100%;

	display: flex;
	gap: 16px;

	margin-top: 24px;
}

.feature .proceses .oneProcess {
	position: relative;
	width: 100%;
	max-width: 200px;
	height: 150px;

	top: -5px;

	//padding: 16px;

	// background: url('../../../../public/images/gpuWork/processBg.png');
	// background-size: 100% 100%;
}

.feature .proceses .oneProcess .rive {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;

	width: 150%;
	height: 150%;
}

// RWD
@media (max-width: 500px) {
	.feature .proceses .oneProcess:last-child {
		display: none;
	}
}
