@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1120px;
	margin: 0 auto;

	margin-top: 200px;
}

.inside .infrastructureBg {
	position: absolute;
	right: -1000px;
	top: -500px;

	width: 1800px;
	height: auto;

	z-index: -1;
	pointer-events: none;
}

.inside .topTexts {
	position: relative;
	width: 100%;
}

.inside .topTexts .logo {
	position: relative;
	width: 20px;
	height: auto;
}

.inside .topTexts .title {
	position: relative;

	width: 100%;
	max-width: 700px;

	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -1.44px;
}

.inside .topTexts .desc {
	position: relative;

	width: 100%;
	max-width: 700px;

	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.6;
}

.inside .access {
	position: relative;
	width: 100%;

	margin-top: 48px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inside .access::before {
	position: absolute;
	content: '';
	left: -50vw;
	top: -1px;
	width: 200vw;
	height: 1px;

	background: $color-border;
}

.inside .access::after {
	position: absolute;
	content: '';
	left: -50vw;
	bottom: -1px;
	width: 200vw;
	height: 1px;

	background: $color-border;
}

.inside .access .texts {
	position: relative;
	max-width: 385px;
}

.inside .access .texts .topText {
	position: relative;
	width: 100%;

	color: $color-text;
	font-family: $font1;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.inside .access .texts .bottomText {
	position: relative;
	width: 100%;
	margin-top: 16px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.6;
}

.inside .access .texts .square {
	position: relative;
	width: 24px;
	height: 4px;

	margin-top: 24px;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);
}

.inside .access .features {
	position: relative;

	display: flex;
	gap: 24px;
}

.inside .access .features .oneFeature {
	position: relative;
	width: 100%;
	max-width: 210px;

	padding: 16px;
	padding-bottom: 24px;

	background: url('../../../public/images/infrastructure/featureBg.png');
	background-size: 100% 100%;
}

.inside .access .features .oneFeature .icon {
	position: relative;
	width: 16px;
	height: auto;
}

.inside .access .features .oneFeature .featureTitle {
	position: relative;
	width: 100%;

	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
}

.inside .access .features .oneFeature .featureDesc {
	position: relative;
	width: 100%;
	margin-top: 8px;

	color: $color-text;
	font-family: $font1;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;

	opacity: 0.5;
}

.inside .diagrams {
	position: relative;
	width: 100%;

	margin-top: 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inside .diagrams::before {
	position: absolute;
	content: '';
	left: -50vw;
	bottom: 5px;
	width: 200vw;
	height: 1px;

	background: $color-border;
}

.inside .diagrams .leftDiagram {
	position: relative;
	width: 440px;
	height: auto;

	top: -5px;
}

.inside .diagrams .leftDiagram[data-visible='true'] {
	.oneColumn[data-value='left'] {
		height: 260px;
	}

	.oneColumn[data-value='right'] {
		height: 100px;
	}
}

.inside .diagrams .leftDiagram .diagramBg {
	position: relative;
	left: 0px;
	top: 0px;

	width: 100%;
	height: auto;

	z-index: -1;
	pointer-events: none;
}

.inside .diagrams .leftDiagram .rightText {
	position: absolute;
	right: 0px;
	top: 40px;

	max-width: 140px;

	color: $color-text;
	text-align: right;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;

	span {
		font-feature-settings: 'tnum';
		font-variant-numeric: lining-nums;
	}
}

.inside .diagrams .leftDiagram .oneColumn {
	position: absolute;
	left: 0px;
	bottom: 0px;

	width: 100px;
	height: 50px;

	transition: height 1.5s ease;

	border-radius: 8px 8px 0px 0px;
}

.inside .diagrams .leftDiagram .oneColumn[data-value='left'] {
	border-radius: 8px 8px 0px 0px;
	border: 1px solid rgba(255, 255, 255, 0.08);
	border-bottom: none;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.12) 0%,
			rgba(255, 255, 255, 0.01) 100%
		),
		#000;
	box-shadow: 0px 0px 48px 0px rgba(255, 255, 255, 0.08) inset;
}

.inside .diagrams .leftDiagram .oneColumn[data-value='right'] {
	left: 200px;
	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);

	.topValue {
		color: $color-black;
		font-weight: 600;
	}
}

.inside .diagrams .leftDiagram .oneColumn[data-value='right']::before {
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	border-radius: 8px 8px 0px 0px;
	opacity: 0.5;
	background: linear-gradient(225deg, #7effb4 0%, rgba(92, 128, 255, 0) 100%);
	mix-blend-mode: plus-lighter;
	filter: blur(24px);

	z-index: 3;
	pointer-events: none;
}

.inside .diagrams .leftDiagram .oneColumn .topValue {
	position: absolute;
	left: 0px;
	top: 16px;

	width: 100%;

	color: $color-text;
	text-align: center;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.inside .diagrams .leftDiagram .oneColumn .sideValue {
	position: absolute;
	left: calc(100% + 8px);
	top: 9px;

	width: 114px;
	height: 32px;

	display: flex;
	align-items: center;
	justify-content: center;

	color: $color-text;
	font-family: $font1;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	background: url('../../../public/images/infrastructure/diagramSideTextBg.png');
	background-size: 100% 100%;

	span {
		color: rgba($color-text, 0.6);
		margin-left: 6px;
	}
}

.inside .diagrams .rightDiagram {
	position: relative;
	width: 630px;
	height: auto;
}

// RWD
@media (max-width: 1200px) {
	.inside .access {
		flex-wrap: wrap;
		padding: 48px 0px;
	}

	.inside .access .texts {
		width: 100%;
		max-width: 385px;
	}

	.inside .access .features {
		width: 100%;
		margin-top: 32px;
	}

	.inside .diagrams {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .diagrams .rightDiagram {
		order: 1;
		width: 100%;
	}

	.inside .diagrams .leftDiagram {
		order: 2;
		margin-top: 24px;
	}
}

@media (max-width: 700px) {
	.section .inside {
		margin-top: 40px;
	}

	.inside .topTexts .title {
		text-align: center;
		margin: 0 auto;
		margin-top: 12px;
		font-size: 40px;

		line-height: 110%;
		letter-spacing: -0.5px;
	}

	.inside .topTexts .logo {
		margin: 0 auto;
	}

	.inside .topTexts .desc {
		text-align: center;
		margin: 0 auto;
		margin-top: 12px;
	}

	.inside .access .texts {
		margin: 0 auto;
	}

	.inside .access .texts .topText {
		text-align: center;
	}

	.inside .access .texts .bottomText {
		text-align: center;
	}

	.inside .access .texts .square {
		margin: 0 auto;
		margin-top: 24px;
	}

	.inside .access .features {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .access .features .oneFeature {
		width: calc(50% - 12px);
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	.inside .access .features .oneFeature {
		width: 100%;
	}

	.inside .diagrams .rightDiagram {
		img {
			left: -5.5%;
			width: 109%;
		}
	}

	.inside .diagrams .leftDiagram {
		margin-top: 32px;
	}

	.inside .access .features .oneFeature {
		background: url('../../../public/images/infrastructure/featureBgMobile.png');
		background-size: 100% 100%;
	}
}

@media (max-width: 450px) {
	.inside .diagrams .leftDiagram {
		margin-top: 42px;
	}

	.inside .diagrams .leftDiagram .oneColumn[data-value='right'] {
		left: 150px;
	}

	.inside .diagrams .leftDiagram .rightText {
		top: 20px;
	}

	.inside .diagrams .leftDiagram[data-visible='true'] {
		.oneColumn[data-value='left'] {
			height: 230px;
		}

		.oneColumn[data-value='right'] {
			height: 80px;
		}
	}
}
