@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1120px;
	margin: 0 auto;
	.feature .rive {
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;

		width: 121%;
		height: 121%;
	}

	margin-top: 200px;
}

.inside .infrastructureBg {
	position: absolute;
	right: -1000px;
	top: -500px;

	width: 1800px;
	height: auto;

	z-index: -1;
	pointer-events: none;
}

.inside .topTexts {
	position: relative;
	width: 100%;
}

.inside .topTexts .logo {
	position: relative;
	width: 20px;
	height: auto;
}

.inside .topTexts .title {
	position: relative;

	width: 100%;
	max-width: 700px;

	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -1.44px;
}

.inside .topTexts .desc {
	position: relative;

	width: 100%;
	max-width: 700px;

	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.6;
}

.inside .access {
	position: relative;
	width: 100%;

	margin-top: 48px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inside .access::before {
	position: absolute;
	content: '';
	left: -50vw;
	top: -1px;
	width: 200vw;
	height: 1px;

	background: $color-border;
}

.inside .access::after {
	position: absolute;
	content: '';
	left: -50vw;
	bottom: -1px;
	width: 200vw;
	height: 1px;

	background: $color-border;
}

.inside .access .texts {
	position: relative;
	max-width: 420px;
}

.inside .access .texts .topText {
	position: relative;
	width: 100%;

	color: $color-text;
	font-family: $font1;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.inside .access .texts .bottomText {
	position: relative;
	width: 100%;
	margin-top: 16px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.6;
}

.inside .access .texts .square {
	position: relative;
	width: 24px;
	height: 4px;

	margin-top: 24px;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);
}

.inside .access .features {
	position: relative;

	display: flex;
	gap: 24px;
}

.inside .access .features .oneFeature {
	position: relative;
	width: 100%;
	max-width: 210px;

	padding: 16px;
	padding-bottom: 24px;

	background: url('../../../public/images/infrastructure/featureBg.png');
	background-size: 100% 100%;
}

.inside .access .features .oneFeature .icon {
	position: relative;
	width: 16px;
	height: auto;
}

.inside .access .features .oneFeature .featureTitle {
	position: relative;
	width: 100%;

	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
}

.inside .access .features .oneFeature .featureDesc {
	position: relative;
	width: 100%;
	margin-top: 8px;

	color: $color-text;
	font-family: $font1;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;

	opacity: 0.5;
}

.inside .diagrams {
	position: relative;
	width: 100%;

	margin-top: 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inside .diagrams::before {
	position: absolute;
	content: '';
	left: -50vw;
	bottom: 5px;
	width: 200vw;
	height: 1px;

	background: $color-border;
}

.inside .diagrams .leftDiagram {
	position: relative;
	width: 440px;
	height: auto;

	top: -5px;

	img {
		opacity: 0;
	}
}

.inside .diagrams .leftDiagram::after {
	position: absolute;
	content: '';

	right: 0px;
	top: 0px;

	width: 130px;
	height: 100%;

	opacity: 0;

	z-index: 100;
	display: none;
}

.inside .diagrams .leftDiagram::before {
	position: absolute;
	content: '';

	right: 215px;
	top: 0px;

	width: 80px;
	height: 100%;

	opacity: 0;

	z-index: 100;
	display: none;
}

.inside .diagrams .leftDiagram .rive {
	position: absolute;
	left: 50%;
	bottom: -9px;
	translate: -50% 0;

	width: 105%;
	height: 105%;
}

.inside .diagrams .leftDiagram .rive::before {
	position: absolute;
	content: '';

	left: 100px;
	top: 0px;

	width: calc(100% - 100px);
	height: 150px;

	opacity: 0;

	z-index: 100;
	display: none;
}

.inside .diagrams .rightDiagram {
	position: relative;
	width: 630px;
	height: auto;
}

// RWD
@media (max-width: 1200px) {
	.inside .access {
		flex-wrap: wrap;
		padding: 48px 0px;
	}

	.inside .access .texts {
		width: 100%;
		max-width: 385px;
	}

	.inside .access .features {
		width: 100%;
		margin-top: 32px;
	}

	.inside .diagrams {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .diagrams .rightDiagram {
		order: 1;
		width: 100%;
	}

	.inside .diagrams .leftDiagram {
		order: 2;
		margin-top: 24px;
	}
}

@media (max-width: 700px) {
	.section .inside {
		margin-top: 40px;
	}

	.inside .topTexts .title {
		text-align: center;
		margin: 0 auto;
		margin-top: 12px;
		font-size: 40px;

		line-height: 110%;
		letter-spacing: -0.5px;
	}

	.inside .topTexts .logo {
		margin: 0 auto;
	}

	.inside .topTexts .desc {
		text-align: center;
		margin: 0 auto;
		margin-top: 12px;
	}

	.inside .access .texts {
		margin: 0 auto;
	}

	.inside .access .texts .topText {
		text-align: center;
	}

	.inside .access .texts .bottomText {
		text-align: center;
	}

	.inside .access .texts .square {
		margin: 0 auto;
		margin-top: 24px;
	}

	.inside .access .features {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .access .features .oneFeature {
		width: calc(50% - 12px);
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	.inside .access .features .oneFeature {
		width: 100%;
	}

	// .inside .diagrams .rightDiagram {
	// 	display: none;
	// 	img {
	// 		left: -5.5%;
	// 		width: 109%;
	// 	}
	// }

	.inside .diagrams .leftDiagram {
		margin-top: 12px;
	}

	.inside .access .features .oneFeature {
		background: url('../../../public/images/infrastructure/featureBgMobile.png');
		background-size: 100% 100%;
	}

	.inside .diagrams .leftDiagram .rive::before {
		display: block;
	}

	.inside .diagrams .leftDiagram::before {
		display: block;
	}

	.inside .diagrams .leftDiagram::after {
		display: block;
	}
}

@media (max-width: 450px) {
	.inside .diagrams .leftDiagram {
		margin-top: 30px;
	}
}
