@import '@/styles/variables.scss';

.feature {
	position: relative;
	width: 100%;
	min-height: 251px;
	max-width: 358px;

	background: url('../../../../public/images/gpuWork/bottomBg.png');
	background-size: 100% 100%;
}

.feature .rive {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;

	width: 121%;
	height: 121%;
}

// RWD
@media (max-width: 1250px) {
	.feature {
		max-width: 338px;
	}
}

@media (max-width: 800px) {
	.feature {
		width: calc(50% - 12px);
	}
}

@media (max-width: 650px) {
	.feature {
		width: 100%;
		max-width: 100%;

		background: url('../../../../public/images/gpuWork/mobileShortBg.png');
		background-size: 100% 100%;
	}
}
