@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1120px;
	margin: 0 auto;

	margin-top: 200px;
}

.inside .bg {
	position: absolute;
	left: 50%;
	top: 90%;

	translate: -50% -50%;

	width: 3226px;
	height: auto;

	z-index: -1;
	pointer-events: none;
}

.inside .top {
	position: relative;
	width: 100%;
}

.inside .top .logo {
	position: relative;
	width: 20px;
	height: auto;

	margin: 0 auto;
}

.inside .top .title {
	position: relative;

	width: 100%;
	margin-top: 12px;

	text-align: center;

	color: $color-text;
	font-family: $font1;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.inside .top .desc {
	position: relative;

	width: 100%;
	max-width: 620px;
	text-align: center;

	margin: 0 auto;
	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.6;
}

.inside .top .square {
	position: relative;
	width: 24px;
	height: 4px;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);

	margin: 0 auto;
	margin-top: 24px;
}

.inside .bottom {
	position: relative;
	width: 100%;

	margin-top: 48px;
	padding: 48px 0px;

	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.inside .bottom .lines {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-evenly;

	z-index: -1;
	pointer-events: none;
}

.inside .bottom .lines .line {
	position: relative;

	width: 1px;
	height: 100%;

	background: $color-border;
}

.inside .bottom .lines .line:first-child {
	left: -8px;
}

.inside .bottom .lines .line:last-child {
	left: 8px;
}

.inside .bottom .point {
	position: relative;
	width: 100%;

	display: flex;
	gap: 48px;
}

.inside .bottom .point .card {
	position: relative;
	width: 100%;
}

.inside .bottom .point .perHour {
	position: relative;
	width: 100%;
}

.inside .bottom .point .avg {
	position: relative;
	width: 100%;
}

.inside .bottom .point .pointLine {
	position: absolute;
	width: 100%;
	height: auto;

	top: 100%;
	left: 0px;
}

.inside .bottom .point .pointLine[data-value='right'] {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.inside .bottom .point .pointTitle {
	position: relative;
	width: 100%;

	color: $color-text2;
	text-align: center;
	font-family: $font1;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
}

.inside .bottom .point .value {
	position: relative;
	width: 100%;

	color: $color-text;
	text-align: center;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;

	span {
		font-weight: 400;
		opacity: 0.6;
	}
}

// RWD
@media (max-width: 1150px) {
	.inside .top .logo {
		margin: 0 auto;
	}

	.inside .top .title {
		text-align: center;
	}

	.inside .top .desc {
		text-align: center;
		max-width: 430px;
		margin: 0 auto;
		margin-top: 12px;
	}

	.inside .top .square {
		margin: 0 auto;
		margin-top: 24px;
	}
}

@media (max-width: 700px) {
	.section .inside {
		margin-top: 50px;
	}

	.inside .top .title {
		font-size: 40px;

		line-height: 110%;
		letter-spacing: -0.5px;
	}

	.inside .bottom {
		width: 108%;
		left: -4%;
		margin-top: 24px;
		padding: 24px 0px;

		gap: 48px;
	}

	.inside .bottom .point {
		gap: 24px;
		align-items: center;
	}
}

@media (max-width: 600px) {
	.inside .bottom .lines {
		display: none;
	}

	.inside .bottom .point .pointLine {
		display: none;
	}

	.inside .bottom .point .pointTitle {
		font-size: 18px;
	}

	.inside .bottom .point {
		gap: 0px;
	}

	.inside .bottom {
		width: 100%;
		left: 0%;
		margin-top: 24px;
		padding: 0px;

		gap: 24px;
	}

	.inside .bottom .point .value {
		font-size: 14px;
	}

	.inside .bottom .point .avg {
		display: none;
	}
}
