@import '@/styles/variables.scss';

.feature {
	position: relative;
	width: 100%;
	min-height: 251px;
	max-width: 358px;

	background: url('../../../../public/images/gpuWork/bottomBg.png');
	background-size: 100% 100%;

	overflow: hidden;

	border-radius: 11px;
}

.feature .bottomTitle {
	position: relative;
	width: 100%;
	margin-top: 24px;

	color: $color-text;
	text-align: center;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.feature .bottomDesc {
	position: relative;
	width: 100%;
	margin-top: 12px;

	color: rgba($color-text, 0.6);
	text-align: center;
	font-family: $font1;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.feature .bottom {
	position: absolute;
	left: 0px;
	bottom: -5px;
	width: 100%;
	height: auto;
}

.feature .bottom .bg {
	position: absolute;

	bottom: 0px;
	left: 50%;
	translate: -50% 0;
	width: 406px;
	height: auto;

	.filledBg {
		position: absolute;
		left: 0px;
		top: 0px;

		width: 50%;
		height: 100%;

		transition: width $animation2;

		overflow: hidden;

		img {
			position: relative;
			width: 406px;
		}
	}
}

.feature .bottom .topSpeed {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
}

.feature .bottom .topSpeed .topSpeedInside {
	position: relative;

	padding: 10px;

	border-radius: 8px;
	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);
	box-shadow: 0px 0px 48px 0px rgba(255, 255, 255, 0.08) inset;

	p {
		position: relative;
		color: $color-text;
		text-align: center;
		font-family: $font1;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;

		font-feature-settings: 'tnum';
		font-variant-numeric: lining-nums;
	}
}

.feature .bottom .bottomSpeeds {
	position: relative;
	width: 100%;
	max-width: 270px;
	margin: 0 auto;
	margin-top: 16px;
	padding-bottom: 16px;

	display: flex;
}

.feature .bottom .bottomSpeeds .oneSpeed {
	position: relative;
	width: 100%;
}

.feature .bottom .bottomSpeeds .oneSpeed .topValue {
	position: relative;
	width: 100%;

	text-align: center;
	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;

	font-feature-settings: 'tnum';
	font-variant-numeric: lining-nums;
}

.feature .bottom .bottomSpeeds .oneSpeed .bottomValue {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 6px;
	align-items: center;
	margin-top: 6px;

	img {
		position: relative;
		width: 12px;
		height: auto;
	}

	p {
		position: relative;

		color: rgba($color-text, 0.6);
		font-family: $font1;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%;
	}
}

.feature .bottom .bottomSpeeds .oneSpeed[data-type='upload'] .bottomValue {
	img {
		transform: rotate(180deg);
		opacity: 0.5;
	}
}

// RWD
@media (max-width: 700px) {
}
