@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1120px;
	margin: 0 auto;

	margin-top: 160px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inside .tokenomicsBg {
	position: absolute;
	left: -1000px;
	top: -300px;

	width: 1800px;
	height: auto;

	z-index: -1;
	pointer-events: none;
}

.inside .left {
	position: relative;
	width: 100%;
	max-width: 430px;
}

.inside .left .logo {
	position: relative;
	width: 20px;
	height: auto;
}

.inside .left .title {
	position: relative;

	width: 100%;
	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.inside .left .desc {
	position: relative;

	width: 100%;
	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.6;
}

.inside .left .square {
	position: relative;
	width: 24px;
	height: 4px;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);

	margin-top: 24px;
}

.inside .left .circle {
	position: relative;
	width: 100%;
	max-width: 500px;
	height: auto;

	margin-top: -12px;
}

.inside .left .circle::before {
	position: absolute;
	content: '';

	left: 0px;
	top: 0px;

	width: 100%;
	height: 100px;

	opacity: 0;

	z-index: 100;
	display: none;
}

.inside .left .circle::after {
	position: absolute;
	content: '';

	left: 0px;
	bottom: 0px;

	width: 100%;
	height: 100px;

	opacity: 0;

	z-index: 100;
	display: none;
}

.inside .left .circle .rive::before {
	position: absolute;
	content: '';

	right: 0px;
	top: 0px;

	width: 100px;
	height: 100%;

	opacity: 0;

	z-index: 100;
	display: none;
}

.inside .left .circle .rive {
	position: absolute;
	left: -90px;
	top: -50px;

	width: 125%;
	height: 125%;
}

.inside .right {
	position: relative;
	width: 100%;
	max-width: 620px;
}

.inside .right .titles {
	position: relative;
	width: 100%;

	padding: 24px;

	background: url('../../../public/images/tokenomics/titleBg.png');
	background-size: 100% 100%;

	display: flex;
	gap: 24px;
}

.inside .right .titles .leftText {
	position: relative;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.inside .right .titles .rightText {
	position: relative;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}

.inside .right .titles .copy {
	position: absolute;

	right: 24px;
	top: 22px;

	width: 26px;
	height: auto;

	filter: $color-white-filter;
	opacity: 0.4;

	transition: opacity $animation1;
}

.inside .right .titles .copy:hover {
	cursor: pointer;
	opacity: 0.7;
}

.inside .right .texts {
	position: relative;
	width: 100%;

	padding: 24px;

	background: url('../../../public/images/tokenomics/textsBg.png');
	background-size: 100% 100%;

	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.inside .right .texts .line {
	position: relative;
	width: 100%;
	height: 1px;

	background: $color-border;
}

.inside .right .texts .oneSection {
	position: relative;
	width: 100%;
}

.inside .right .texts .oneSection .sectionTitle {
	position: relative;
	width: 100%;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
}

.inside .right .texts .oneSection .sectionDesc {
	position: relative;
	width: 100%;
	margin-top: 12px;

	color: $color-text;
	font-family: $font1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;

	opacity: 0.6;
}

// RWD
@media (max-width: 1250px) {
	.section .inside {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .left {
		max-width: 100%;
	}

	.inside .left {
		margin: 0 auto;
	}

	.inside .left .logo {
		margin: 0 auto;
	}

	.inside .left .title {
		text-align: center;
	}

	.inside .left .desc {
		text-align: center;
	}

	.inside .left .square {
		margin: 0 auto;
		margin-top: 24px;
	}

	.inside .left .circle {
		margin: 0 auto;
		margin-top: 24px;
		left: 32px;
	}

	.inside .right {
		margin-top: 24px;
	}
}

@media (max-width: 700px) {
	.section .inside {
		margin-top: 100px;
	}

	.inside .left .title {
		font-size: 40px;

		line-height: 110%;
		letter-spacing: -0.5px;
	}

	.inside .left .circle {
		left: 0px;
	}

	.inside .right .titles .rightText {
		.desktop {
			display: none;
		}

		.mobile {
			display: block;
		}
	}

	.inside .left .circle::before {
		display: block;
	}

	.inside .left .circle::after {
		display: block;
	}

	.inside .left .circle .rive::before {
		display: block;
	}
}
