@import './variables.scss';

.button_blueGradient {
	background: none;
	border-radius: 0px;

	p {
		color: #fff;
		font-family: $font1;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: none;
	}
}

.button_blueGradient::before {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;

	translate: -50% -50%;

	width: 100%;
	height: 100%;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);

	-webkit-clip-path: polygon(
		0 calc(0% + 14px),
		calc(0% + 14px) 0,
		100% 0,
		100% calc(100% - 14px),
		calc(100% - 14px) 100%,
		0 100%
	);

	clip-path: polygon(
		0 calc(0% + 14px),
		calc(0% + 14px) 0,
		100% 0,
		100% calc(100% - 14px),
		calc(100% - 14px) 100%,
		0 100%
	);

	z-index: -1;
}

.button_blueGradient[data-color='white']::before {
	filter: $color-white-filter;
	opacity: 0.13;
}

.button_blueGradient:hover {
	background: none;
}

.button_blueGradient .button_blueGradient_bg_before {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;

	translate: -50% -50%;

	width: calc(100% + 14px + 14px);
	height: calc(100% + 14px + 14px);

	//border-radius: 20px;

	background: none;

	-webkit-mask-image: url('../public/images/strokeMask.png');
	mask-image: url('../public/images/strokeMask.png');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;

	opacity: 0.4;
	transition: opacity $animation1;
}

.button_blueGradient .button_blueGradient_bg_before[data-type='long'] {
	-webkit-mask-image: url('../public/images/strokeMaskLong.png');
	mask-image: url('../public/images/strokeMaskLong.png');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

.button_blueGradient[data-color='white'] .button_blueGradient_bg_before {
	filter: $color-white-filter;
	opacity: 0.2;
}

.button_blueGradient .button_blueGradient_bg_before::after {
	position: absolute;
	content: '';

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);

	left: 0%;
	top: 0%;

	width: 100%;
	height: 100%;
}
.button_blueGradient .button_blueGradient_bg {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;

	translate: -50% -50%;

	width: calc(100% + 14px + 14px);
	height: calc(100% + 14px + 14px);

	//border-radius: 20px;

	background: none;

	-webkit-mask-image: url('../public/images/strokeMask.png');
	mask-image: url('../public/images/strokeMask.png');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;

	opacity: 0.4;
	transition: opacity $animation1;
}

.button_blueGradient .button_blueGradient_bg[data-type='long'] {
	-webkit-mask-image: url('../public/images/strokeMaskLong.png');
	mask-image: url('../public/images/strokeMaskLong.png');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

.button_blueGradient[data-color='white'] .button_blueGradient_bg {
	filter: $color-white-filter;
	opacity: 0.2;
}

.button_blueGradient:hover .button_blueGradient_bg {
	opacity: 1;
}

.button_blueGradient .button_blueGradient_bg::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);
	border-radius: 100%;

	left: 0%;
	top: 0%;

	animation: bgMove 5s infinite linear;
}

.button_blueGradient .button_blueGradient_bg::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;

	background: linear-gradient(225deg, #7effb4 0%, #5c80ff 100%);
	border-radius: 100%;

	left: 0%;
	top: 0%;

	animation: bgMove 5s infinite linear;
	animation-delay: -2.5s;
}

@keyframes bgMove {
	0% {
		left: calc(0% + 4px);
		top: calc(0% - 15px);
	}

	35% {
		left: calc(100% - 15px);
		top: calc(0% - 15px);
	}

	50% {
		left: calc(100% - 30px);
		top: calc(100% - 15px);
	}

	85% {
		left: calc(0% - 15px);
		top: calc(100% - 15px);
	}

	100% {
		left: calc(0% + 4px);
		top: calc(0% - 15px);
	}
}

.text_gradient {
	background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text_shadow {
	position: relative;
	color: #6caee7;
}

.text_shadow::before {
	position: absolute;
	content: '';
	left: -25%;
	top: -25%;
	width: 150%;
	height: 150%;

	background: url('../public/images/titleLight.png');
	background-size: 100% 100%;

	pointer-events: none;
}
