@import '@/styles/variables.scss';

.oneList {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;

	left: 500px;
	top: 0px;

	scale: 0;

	transition: all 1s;
}

.oneList[data-active='true'] {
	scale: 1;
	left: 0px;
}

.onePoint {
	position: absolute;

	// left: 30%;
	// top: 53%;
	// opacity: 1;

	translate: -50% -50%;

	// background: rgba(217, 217, 217, 0.01);
	// border: 1px solid rgba(255, 255, 255, 0.08);
	// box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.08) inset;
	background: url('../../../../public/images/roadmap/pointBg.png');
	background-size: 100% 100%;
	//backdrop-filter: blur(12.5px);

	padding: 14px 8px;
	min-width: 155px;

	p {
		color: #fff;
		text-align: center;
		font-family: $font1;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 125%;
	}

	//animation: pointMove infinite linear;
}

@keyframes pointMove {
	0% {
		left: 50%;
		top: 74%;
		opacity: 0;
	}

	25% {
		left: 37%;
		top: 64%;
		opacity: 1;
	}

	42% {
		left: 32%;
		top: 54%;
		opacity: 1;
	}

	58% {
		left: 32%;
		top: 44%;
		opacity: 1;
	}

	75% {
		left: 37%;
		top: 34%;
		opacity: 1;
	}

	100% {
		left: 50%;
		top: 26%;
		opacity: 0;
	}
}

// RWD
@media (max-width: 1150px) {
}
